Completion:
  HeaderInsertion: Never

CompileFlags:
  CompilationDatabase: firmware/build
  Remove: [-fanalyzer]

Index:
  Background: Build

---
If:
  PathMatch: firmware/(can_library|common/[^/]+)/tests/.*

CompileFlags:
  CompilationDatabase: firmware/build/host-tests
