// RX Dispatcher
static inline void CAN_rx_dispatcher(uint32_t id, const uint8_t *data, uint8_t len, const CAN_bus_t *bus) {
    {% for periph, entries in ctx.rx_entries_by_peripheral.items() %}
    {{ "if" if loop.first else "else if" }} (bus == {{ periph }}) {
        switch (id) {
            {% for entry in entries %}
            case {{ entry.msg.macro_name }}_MSG_ID: {
                uint64_t host_data = CAN_load_payload_u64(data, len);

                xSemaphoreTake(can_data_mutex, portMAX_DELAY);
                {% for codec in entry.codecs %}
                uint64_t sig_raw_{{ codec.signal.signal_name }} = CAN_unpack_raw_signal(host_data, {{ codec.signal.mask|to_c_hex }}, {{ codec.signal.bit_shift }}, {{ codec.bswap_width }});
                {% if codec.is_float32 %}
                can_data.{{ entry.msg.message_name }}.{{ codec.signal.signal_name }} = ({{ codec.signal.data_type }})CAN_raw_to_float32(sig_raw_{{ codec.signal.signal_name }});
                {% elif codec.sign_extend_shift is not none %}
                can_data.{{ entry.msg.message_name }}.{{ codec.signal.signal_name }} = ({{ codec.signal.data_type }})CAN_sign_extend_raw(sig_raw_{{ codec.signal.signal_name }}, {{ codec.signal.length }});
                {% else %}
                can_data.{{ entry.msg.message_name }}.{{ codec.signal.signal_name }} = ({{ codec.signal.data_type }})sig_raw_{{ codec.signal.signal_name }};
                {% endif %}
                {% endfor %}

                can_data.{{ entry.msg.message_name }}.last_rx = xTaskGetTickCount();
                xSemaphoreGive(can_data_mutex); // release before callback so it can use CAN_DATA_GET
                {% if entry.rx_msg.callback %}
                {{ entry.rx_msg.message_name }}_CALLBACK();
                {% endif %}
                break;
            }
            {% endfor %}
            default:
                break;
        }
    }
    {% endfor %}
}
